@using Microsoft.AspNetCore.Http
@{
    var userId = Context.Session.GetString("id");
    var name = Context.Session.GetString("name");
    var img = Context.Session.GetString("img");
    var email = Context.Session.GetString("email");
    var level = Context.Session.GetString("lvl");
    if (level == null && userId == null)
    {
        Context.Response.Redirect("/login");
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewData["Title"] - User Management</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" href="~/icon.ico" type="image/x-icon" />

    <!-- Fonts and icons -->
    <script src="~/js/Plugin/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Lato:300,400,700,900"] },
            custom: { "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['/css/fonts.min.css'] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <style>
        /* amChart */
        .amChart {
            width: 100%;
            max-height: 600px;
            height: 100vh;
        }
    </style>

    <!-- CSS Files -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/atlantis.min.css">
    <link href="~/css/LoaderStyle.css" rel="stylesheet" />

    @RenderSection("Style", required: false)
</head>
<body data-background-color="bg1">
    <div class="wrapper">
        <div class="main-header">
            <!-- Logo Header -->
            <div class="logo-header" data-background-color="dark2">

                <a href="/" class="logo">
                    <img src="~/images/logo.png" alt="navbar brand" class="navbar-brand">
                    <span class="text-white"> User Management </span>
                </a>
                <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <i class="icon-menu"></i>
                    </span>
                </button>
                <button class="topbar-toggler more"><i class="icon-options-vertical"></i></button>
                <div class="nav-toggle">
                    <button class="btn btn-toggle toggle-sidebar">
                        <i class="icon-menu"></i>
                    </button>
                </div>
            </div>
            <!-- End Logo Header -->
            <!-- Navbar Header -->
            <nav class="navbar navbar-header navbar-expand-lg" data-background-color="white">

                <div class="container-fluid">
                    <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">

                        @if (level == "Super Admin")
                        {
                            <li class="nav-item dropdown hidden-caret">
                                <a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="false">
                                    <i class="fas fa-layer-group"></i>
                                </a>
                                <div class="dropdown-menu quick-actions quick-actions-info animated fadeIn">
                                    <div class="quick-actions-header">
                                        <span class="title mb-1">Quick Actions</span>
                                        <span class="subtitle op-8">Shortcuts</span>
                                    </div>
                                    <div class="quick-actions-scroll scrollbar-outer">
                                        <div class="quick-actions-items">
                                            <div class="row m-0">
                                                <a class="col-6 col-md-4 p-0" href="/user">
                                                    <div class="quick-actions-item">
                                                        <i class="flaticon-user-5"></i>
                                                        <span class="text">Users</span>
                                                    </div>
                                                </a>
                                                <a class="col-6 col-md-4 p-0" href="/role">
                                                    <div class="quick-actions-item">
                                                        <i class="flaticon-database"></i>
                                                        <span class="text">Role</span>
                                                    </div>
                                                </a>
                                                <a class="col-6 col-md-4 p-0" href="/department">
                                                    <div class="quick-actions-item">
                                                        <i class="flaticon-file-1"></i>
                                                        <span class="text">Departments</span>
                                                    </div>
                                                </a>
                                                @*<a class="col-6 col-md-4 p-0" href="#">
                                                    <div class="quick-actions-item">
                                                        <i class="flaticon-interface-1"></i>
                                                        <span class="text">Create New Task</span>
                                                    </div>
                                                </a>
                                                <a class="col-6 col-md-4 p-0" href="#">
                                                    <div class="quick-actions-item">
                                                        <i class="flaticon-list"></i>
                                                        <span class="text">Completed Tasks</span>
                                                    </div>
                                                </a>
                                                <a class="col-6 col-md-4 p-0" href="#">
                                                    <div class="quick-actions-item">
                                                        <i class="flaticon-file"></i>
                                                        <span class="text">Create New Invoice</span>
                                                    </div>
                                                </a>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        }

                        <li class="nav-item dropdown hidden-caret">
                            <a class="nav-link dropdown-toggle" href="/logout" role="button">
                                <i class="fas fa-sign-out-alt" data-toggle="tooltip" data-animation="false" title="Logout"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- End Navbar -->
        </div>

        <!-- Sidebar -->
        <div class="sidebar sidebar-style-2" data-background-color="dark">
            <div class="sidebar-wrapper scrollbar scrollbar-inner">
                <div class="sidebar-content">

                    <div class="user">
                        <div class="avatar-sm float-left mr-2">
                            @if (img != null)
                            {
                                <img src="~/upload/profiles/@img" alt="..." class="avatar-img rounded-circle">
                            }
                            else
                            {
                                <img src="~/images/default.png" alt="..." class="avatar-img rounded-circle">
                            }
                        </div>
                        <div class="info">
                            <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                                <span>
                                    @name
                                    <span class="user-level">@level</span>
                                    <span class="caret"></span>
                                </span>
                            </a>
                            <div class="clearfix"></div>

                            <div class="collapse in" id="collapseExample">
                                <ul class="nav">
                                    <li>
                                        <a href="/profile">
                                            <span class="link-collapse">My Profile</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <ul class="nav nav-primary">
                        @if (level == "Super Admin")
                        {
                            <li class="nav-item">
                                <a href="/" class="collapsed">
                                    <i class="fas fa-home"></i>
                                    <p>Dashboard</p>
                                </a>
                            </li>

                            <li class="nav-section">
                                <span class="sidebar-mini-icon">
                                    <i class="fa fa-ellipsis-h"></i>
                                </span>
                                <h4 class="text-section">Components</h4>
                            </li>

                            <li class="nav-item">
                                <a data-toggle="collapse" href="#sidebarLayouts">
                                    <i class="fas fa-layer-group"></i>
                                    <p>User Apps</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="sidebarLayouts">
                                    <ul class="nav nav-collapse">
                                        <li><a href="/apps/asset"><span class="sub-item">Asset Management</span></a></li>
                                        <li><a href="/apps/exam"><span class="sub-item">Exam Online</span></a></li>
                                        <li><a href="/apps/interview"><span class="sub-item">Interview & Placement</span></a></li>
                                        <li><a href="/apps/reimbursement"><span class="sub-item">Reimbursement Parking</span></a></li>
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a data-toggle="collapse" href="#base">
                                    <i class="fas fa-th-list"></i>
                                    <p>User Management</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="base">
                                    <ul class="nav nav-collapse">
                                        <li><a href="/user"><span class="sub-item">Users</span></a></li>
                                        <li><a href="/role"><span class="sub-item">Roles</span></a></li>
                                        <li><a href="/address"><span class="sub-item">Address</span></a></li>
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a href="/account">
                                    <i class="fas fa-users-cog"></i>
                                    <p>Users & Roles</p>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/department">
                                    <i class="fas fa-fw fa-building"></i>
                                    <p>Department</p>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/presence">
                                    <i class="fas fa-fingerprint"></i>
                                    <p>Presences</p>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a href="/" class="collapsed">
                                    <i class="fas fa-home"></i>
                                    <p>Dashboard</p>
                                </a>
                            </li>
                        }
                    </ul>

                </div>
            </div>
        </div>
        <!-- End Sidebar -->

        <div class="main-panel">
            <div class="content">
                @RenderBody()
            </div>
             
            <div id="getLoad">
                <div id="loader-wrapper">
                    <div id="loader"></div>

                </div>
            </div>

            <footer class="footer">
                <div class="container-fluid">
                    <div class="copyright">
                        &copy; 2020, made with <i class="fa fa-heart heart text-danger"></i> by iBoy
                    </div>
                </div>
            </footer>
        </div>

    </div>


    <!--   Core JS Files   -->
    <script src="~/js/Plugin/jquery.3.2.1.min.js"></script>
    <script src="~/js/Plugin/popper.min.js"></script>
    <script src="~/js/Plugin/bootstrap.min.js"></script>

    <!-- Plugin Bootstrap & JQuery -->
    <script src="~/js/Plugin/jquery-ui.min.js"></script>
    <script src="~/js/Plugin/jquery.ui.touch-punch.min.js"></script>
    <script src="~/js/Plugin/jquery.scrollbar.min.js"></script>
    <script src="~/js/Plugin/bootstrap-notify.min.js"></script>
    <script src="~/js/plugin/bootstrap-toggle.min.js"></script>


    <script src="~/js/Plugin/datatables.min.js"></script>
    <!-- Plugin dataTable -->
    <script src="~/js/plugin/dataTables.buttons.min.js"></script>
    <script src="~/js/plugin/buttons.flash.min.js"></script>
    <script src="~/js/plugin/buttons.html5.min.js"></script>
    <script src="~/js/plugin/buttons.print.min.js"></script>
    <script src="~/js/plugin/jszip.min.js"></script>
    <script src="~/js/plugin/pdfmake.min.js"></script>
    <script src="~/js/plugin/vfs_fonts.js"></script>

    <!-- Sweet Alert -->
    <script src="~/js/plugin/moment.min.js"></script>
    <script src="~/js/plugin/sweetalert2@9.js"></script>

    <!-- Chart amChart -->
    <script src="~/js/amcharts4/core.js"></script>
    <script src="~/js/amcharts4/charts.js"></script>
    <script src="~/js/amcharts4/themes/animated.js"></script>
    <script src="~/js/plugin/circles.min.js"></script>

    <!-- Datatables -->
    <!-- Atlantis JS -->
    <script src="~/js/Plugin/atlantis.min.js"></script>


    @RenderSection("Script", required: false)

    <script>
        $(function () {
            $('.nav a').filter(function () { return this.href == location.href }).parent().addClass('active').siblings().removeClass('active');
            $('.nav a').click(function () {
                $(this).parent().addClass('active').siblings().removeClass('active');
            });

            $('#getLoad').hide();

            if (performance.navigation.type === 2) {
                location.reload(true);
            }
        })

    </script>
</body>
</html>